<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!-- <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"> -->
    <link href="{{url_for('static', filename='css/bootstrap1.min.css')}}" rel="stylesheet">
</head>

<body>

    {% block body %} {% endblock %}

    <!-- <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> -->


    <script type="text/javascript" src="{{url_for('static', filename='js1/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js1/jquery-3.3.1.slim.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js1/popper.min.js')}}"></script>

</body>

</html>